/*!       SECTION Hero           */
.section-hero{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.8)),url(./img/hero-bg.jpg);
    height: 100vh;
    background-attachment: fixed;
    background-position: top;
    background-size: cover;
}


.btn{
    border-radius: 20px;
    padding: 5px 20px;
    border: 2px solid white ;
    background-image: transparent;
    color: white ;
}


.btn:hover{
    background-color: turquoise;
    color: white;
}
/*       !SECTION Hero           */